<div class="login-container">
    <p>{{input}}</p>
    <div class="login-wrap">
      <input
        class="login"
        placeholder="Login"
        [(ngModel)]="login"
        (ngModelChange)="onChange('login')"
      />
      <span id="login" class="notice">{{loginNotice}}</span>
      <input
        class="pass"
        placeholder="Password"
        [(ngModel)]="pass"
        (ngModelChange)="onChange('pass')"
      />
      <span id="pass" class="notice">{{passNotice}}</span>
      <button class="btn login-submit-btn" (click)="onLogin()">Login</button>
    </div>
</div>
